* {
    margin: 0%;
    padding: 0%;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* グラデ背景が子要素を含めて必ず伸びる */
  min-height: 100vh;
  background-attachment: fixed;
}

p {
    text-align: center;
    color: blue;
    font-size: medium;
}

#center {
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/*
  For widget
*/
.widget-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    gap: 20px;
    padding: 20px;
    min-width: 800px;
    max-width: 1600px;
    min-height: 800px;
    margin: auto;
}

.widget {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    border-radius: 10px;
}
