* {
    margin: 0%;
    padding: 0%;
}

html {
    min-height: 100%;
    background-image: linear-gradient(
        180deg,
        rgba(36, 55, 111, 1) 25%,
        rgba(101, 90, 167, 1) 50%,
        rgba(133, 76, 185, 1) 66%,
        rgba(56, 144, 170, 1) 84%,
        rgba(219, 154, 105, 1)
    );
}

h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: large;
    font-style: italic;
    /*
    background-color: #330033;
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    */
    margin: 0%;
    padding: auto;
}

p {
    text-align: center;
    color: blue;
    font-size: medium;
}

#center {
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/*
  For widget
*/
.widget-container{
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    );
    gap: 20px;
    padding: 20px;
    min-width: none;
    max-width: 1200px;
    min-height: 600px;
    margin: auto;
}

.widget {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    text-align: center;
    border-radius: 10px;
}
